@import 'variables';

.news {
    padding-bottom: 60px;
    padding-top: 60px;

    background-image: url('./imgs/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container_one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: flex-start;
}

.container_two{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    flex-wrap: wrap;

    width: 20%;

    gap: 30px;
}

.container_three{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 50px;
    align-items: center;

    width: 80%;
}

.container_four{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    flex-wrap: wrap;
}

.cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 20px;
}

.main_font{
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 30px;
    color: $white-100-color;
  
    line-height: 46px;
    text-align: left;
    vertical-align: top;
    padding-bottom: 0; //paragraph-spacing
    letter-spacing: 5%;
}

.side_font{
    font-family: $font-montserrat;
    font-weight: 500;
    font-size: 18px;
    color: $white-70-color;
  
    line-height: 27px;
    text-align: left;
    vertical-align: top;
    padding-bottom: 0; //paragraph-spacing
    letter-spacing: 3%;
}

.active_font{
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 20px;
    color: $active-button-color;
  
    line-height: 46px;
    text-align: left;
    vertical-align: top;
    padding-bottom: 0; //paragraph-spacing
    letter-spacing: 5%;
}
