@import 'variables';

.card {
    background-color: $close-white-background;
    width: 100%;
    max-width: 375px;
    padding:  20px 20px;
    margin: 0 auto;

    box-shadow: $box-shadow;
}

.card_container_one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;


    gap: 20px;
}

.card_container_two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.card_container_three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 40%;
}

.line {
    width: 100%;
    max-width: 335px;
    height: 1px;
    background-color: $close-50-black;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

    width: 90%;
    align-items: center;

    border-radius: 3%;

    //padding-left: 20px;
    background-color: $active-button-color;
}

.card_name {
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 20px;
    color: $close-100-black;
  
    line-height: auto; //34
    text-align: left;
    vertical-align: top;
    padding-bottom: 0; //paragraph-spacing
    letter-spacing: 0;
}

.card_description {
    font-family: $font-montserrat;
    font-weight: 500;
    font-size: 16px;
    color: $close-100-gray;
  
    line-height: auto;
    text-align: left;
    vertical-align: top;
    padding-bottom: 0; //paragraph-spacing
    letter-spacing: 0;
}

.cart {
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 18px;
    color: $white-100-color;
  
    line-height: auto;
    text-align: left;
    vertical-align: top;
    padding-bottom: 0; //paragraph-spacing
    letter-spacing: 0;
    
    padding: 10px;
}