@import 'src/styles/variables';

.catalog{
    padding-bottom: 60px;
    //padding-top: 60px;
}

.container_one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;

    gap: 60px;

    width: 100%;
}

.container_two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.container_four{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;
}

.container_three{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}


.font{
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 30px;
    color: $close-100-black;
  
    line-height: 34px;
    text-align: left;
    vertical-align: top;
    padding-bottom: 0; //paragraph-spacing
    letter-spacing: 5%;
}

.font_side{
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 18px;
    color: $close-50-black;
  
    line-height: 34px;
    text-align: left;
    vertical-align: top;
    padding-bottom: 0; //paragraph-spacing
    letter-spacing: 5%;
}

@media (min-width: 1250px) and (max-width: 1600px) {
    .container_four{
        gap: 60px;
        width: 70%;
        flex-wrap: wrap;
    }
    .container_two{
        width: 70%;
        flex-wrap: wrap;
    }
}

@media (min-width: 320px) and (max-width: 1250px) {
    .container_four{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    
        gap: 20px;
    }
    .container_two{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
}