@import '~modern-normalize/modern-normalize.css'; // provides consistent styling across modern browsers
@import 'reset';
@import 'variables';

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1920px;

  padding-left: 163px;
  padding-right: 163px;
  padding-bottom: 60px;
  
  margin: 0 auto;
}
  
