@import '~modern-normalize/modern-normalize.css'; // provides consistent styling across modern browsers
@import 'reset';
@import 'variables';

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1682px;
  width: calc(100% - 88px);
  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

