// Fonts

$font-montserrat: var(--font-montserrat);

// Colors
$white-100-color: rgb(255, 255, 255, 1);
$white-50-color: rgb(255, 255, 255, 0.5);
$white-80-color: rgba(255, 255, 255, 0.8);
$white-70-color: rgba(255, 255, 255, 0.7);
$white-5-color: rgba(255, 255, 255, 0.05);


$close-white-background: rgb(254, 254, 254, 1);

$close-100-black: rgba(20, 20, 20, 1);

$close-100-gray: rgba(171, 171, 171, 1);

$close-50-black: rgb(20, 20, 20, 0.5);

$active-button-color: rgb(232, 171, 49, 1);


$close-50-black: rgba(20, 20, 20, 0.5);

$black-100-color: rgb(0, 0, 0, 1);

$header-white: rgb(236, 241, 242, 1);

$black-50-color: rgb(0, 0, 0, 0.5);




$box-shadow: 0 4px 20px 0 rgb(165 169 176 / 20%);

$box-shadow-hover: 0 2px 20px 0 rgb(165 169 176 / 100%);
$delivery-shadow: 0 2px 5px 0 rgb(199 193 168 / 30%);


$transition: 0.2s ease-in-out;