@import 'variables';

.sales{
    width: 100%;
    padding-top: 100px;
}

.container_one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    flex-wrap: wrap;

    gap: 30px;
}

.container_two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 20px;

    width: 30%;

}

.container_three{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 10px;

    align-items: center;

    box-shadow: $box-shadow;

}

.container_four{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 10px;
}

.main_font{
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 24px;
    color: $black-100-color;
  
    line-height: 34px;
    text-align: left;
    vertical-align: top;
    padding-bottom: 0; //paragraph-spacing
    letter-spacing: 0%;
}

.side_font{
    font-family: $font-montserrat;
    font-weight: 400;
    font-size: 18px;
    color: $black-100-color;
  
    line-height: 34px;
    text-align: left;
    vertical-align: top;
    padding-bottom: 0; //paragraph-spacing
    letter-spacing: 0;


    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 10px;
}
