@import 'variables';

.navigation {
    background-image: url('./background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding-bottom: 60px;
}

.container_zero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: flex-start;
}

.container_one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container_two {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: center;

    width: 20%;

    gap: 20px;
}

.text_small{
    font-family: $font-montserrat;
    font-weight: 500;
    font-size: 20px;
    color: $white-100-color;
  
    line-height: 32px;
    text-align: center;
    vertical-align: top;
    padding-bottom: 0; //paragraph-spacing
    letter-spacing: 0;
}

.text_big{
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 36px;
    color: $white-100-color;
  
    line-height: 46px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 3%;

    padding-top: 50px;
}

.text_smaller{
    font-family: $font-montserrat;
    font-weight: 500;
    font-size: 36px;
    color: $white-100-color;
  
    line-height: 46px;
    text-align: center;
    vertical-align: top;
    letter-spacing: 3%;

    padding-top: 15px;
}

.text_even_smaller{
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 20px;
    color: $white-70-color;
  
    line-height: 30px;
    text-align: left;
    vertical-align: top;
    padding-bottom: 0; //paragraph-spacing
    letter-spacing: 3%;

    padding-top: 30px;
    padding-bottom: 60px;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

    width: 18%;
    align-items: center;

    border-radius: 3%;

    //padding-left: 20px;
    background-color: $active-button-color;
}


.cart {
    font-family: $font-montserrat;
    font-weight: 600;
    font-size: 20px;
    color: $white-100-color;
  
    line-height: 46px;
    text-align: left;
    vertical-align: top;
    padding-bottom: 0; //paragraph-spacing
    letter-spacing: 0;
    
    padding: 10px;
}